Repository na2na-p/sns-app, changes with the labels that .github/labeler.yml gives for each.
All labels: Frontend, Backend

.github/labeler.yml:

Frontend: "packages/frontend/**/*"
Backend: "packages/backend/**/*"

suppress
  packages/backend/app/Providers/RouteServiceProvider.php
  packages/backend/phpstan.neon
Labels: Backend

Fix tables
  documents/db/README.md
Labels: none

Update models
  packages/backend/app/Models/Favorites.php
  packages/backend/app/Models/Messages.php
  packages/backend/app/Models/Users.php
Labels: Backend

Update Makefile
  Makefile
Labels: none

Update migrations
  packages/backend/database/migrations/2023_01_16_014101_create_messages_table.php
  packages/backend/database/migrations/2023_01_16_014115_create_favorites_table.php
Labels: Backend

phpstanに従うように
  packages/backend/app/Http/Controllers/PingController.php
  packages/backend/app/Models/Users.php
Labels: Backend

Update models and migration
  packages/backend/app/Models/Favorites.php
  packages/backend/app/Models/Messages.php
  packages/backend/app/Models/Users.php
  packages/backend/database/migrations/2023_01_16_013845_create_users_table.php
  packages/backend/database/migrations/2023_01_16_014101_create_messages_table.php
  packages/backend/database/migrations/2023_01_16_014115_create_favorites_table.php
Labels: Backend

Update Makefile - phpstanをBackend Lintに追加
  Makefile
Labels: none

Update Makefile
  Makefile
Labels: none

Lint fix
  packages/backend/app/Models/Users.php
Labels: Backend

Update Makefile
  Makefile
Labels: none

Update packages/backend/app/Models/Favorites.php
  packages/backend/app/Models/Favorites.php
Labels: Backend

Update packages/backend/app/Models/Messages.php
  packages/backend/app/Models/Messages.php
Labels: Backend

Update packages/backend/app/Models/Favorites.php
  packages/backend/app/Models/Favorites.php
Labels: Backend

Update packages/backend/app/Models/Messages.php
  packages/backend/app/Models/Messages.php
Labels: Backend

Update packages/backend/database/migrations/2023_01_16_014115_create_favorites_table.php
  packages/backend/database/migrations/2023_01_16_014115_create_favorites_table.php
Labels: Backend

Update packages/backend/app/Models/Favorites.php
  packages/backend/app/Models/Favorites.php
Labels: Backend

Update packages/backend/app/Models/Users.php
  packages/backend/app/Models/Users.php
Labels: Backend

Update packages/backend/app/Models/Messages.php
  packages/backend/app/Models/Messages.php
Labels: Backend

Update packages/backend/database/migrations/2023_01_16_014101_create_messages_table.php
  packages/backend/database/migrations/2023_01_16_014101_create_messages_table.php
Labels: Backend

Fix Makefile
  Makefile
Labels: none

指摘事項対応 - モデルを単数系に
  packages/backend/app/Models/Favorite.php
  packages/backend/app/Models/Favorites.php
  packages/backend/app/Models/Message.php
  packages/backend/app/Models/User.php
Labels: Backend

Lint fix
  packages/backend/app/Models/Favorite.php
  packages/backend/app/Models/Message.php
  packages/backend/app/Models/User.php
  packages/backend/phpstan.neon
Labels: Backend

静かになったので解除
  packages/backend/app/Providers/RouteServiceProvider.php
Labels: Backend

指摘事項対応 - 複数ユニーク制約
  packages/backend/database/migrations/2023_01_16_014115_create_favorites_table.php
Labels: Backend

Move
  packages/frontend/src/hooks/api/usePing.ts
Labels: Frontend

Add ScrollContainer
  packages/frontend/src/components/dataDisplay/ScrollContainer.tsx
Labels: Frontend

Add GrayContainer
  packages/frontend/src/layout/GrayContainer.tsx
Labels: Frontend

Add components
  packages/frontend/src/components/dataDisplay/MessageCard/CardContent.tsx
  packages/frontend/src/components/dataDisplay/MessageCard/CardHeader.tsx
Labels: Frontend

Add FavoriteButton
  packages/frontend/src/components/dataDisplay/MessageCard/FavoriteButton.tsx
Labels: Frontend

Add MessageCard
  packages/frontend/src/App.tsx
  packages/frontend/src/components/dataDisplay/MessageCard/FavoriteButton.tsx
  packages/frontend/src/components/dataDisplay/MessageCard/index.tsx
  packages/frontend/src/pages/Timeline/hooks.ts
  packages/frontend/src/pages/Timeline/index.tsx
  packages/frontend/src/types/Length.ts
  packages/frontend/src/types/api/index.ts
Labels: Frontend

Update
  packages/frontend/src/components/dataDisplay/MessageCard/FavoriteButton.tsx
  packages/frontend/src/main.tsx
  packages/frontend/src/pages/Login/index.tsx
  packages/frontend/src/pages/Timeline/index.tsx
  packages/frontend/src/routes.tsx
Labels: Frontend

Init OAS
  documents/api/schema.yml
Labels: none

Update schema
  documents/api/schema.yml
Labels: none

Update APIをSession認証できるように
  packages/backend/app/Http/Kernel.php
  packages/backend/config/auth.php
Labels: Backend

Fix Kernel.php - useではなくフルパスで書くように
  packages/backend/app/Http/Kernel.php
Labels: Backend

update
  .editorconfig
  packages/backend/app/Http/Controllers/Controller.php
  packages/backend/app/Http/Controllers/LogoutController.php
  packages/backend/app/Http/Controllers/MessagesController.php
  packages/backend/app/Http/Controllers/PingController.php
  packages/backend/app/Http/Controllers/UsersController.php
Labels: Backend

Add controllers
  packages/backend/app/Http/Controllers/LoginController.php
  packages/backend/app/Http/Controllers/LogoutController.php
  packages/backend/app/Http/Controllers/MessagesController.php
  packages/backend/app/Http/Controllers/UsersController.php
Labels: Backend

Remove PingController
  packages/backend/app/Http/Controllers/PingController.php
Labels: Backend

Add status.html
  packages/backend/public/status.html
Labels: Backend
