Repository na2na-p/sns-app, changes with the labels that .github/labeler.yml gives for each.
All labels: Frontend, Backend

.github/labeler.yml:

Frontend: "packages/frontend/**/*"
Backend: "packages/backend/**/*"

Update cSpell
  .vscode/settings.json
Labels: none

Lint fix
  packages/backend/app/Http/Controllers/LoginController.php
Labels: Backend

Add dependencies
  packages/backend/composer.json
  packages/backend/composer.lock
Labels: Backend

Add Route - #62
  packages/backend/app/Http/Controllers/UsersController.php
  packages/backend/routes/api.php
Labels: Backend

Fix ResponseType
  packages/backend/app/Http/Controllers/LoginController.php
  packages/backend/app/Http/Controllers/UsersController.php
Labels: Backend

Add - サインアップ - ログイン - ログアウト が機能するように
  packages/backend/app/Http/Controllers/Controller.php
  packages/backend/app/Http/Controllers/LoginController.php
  packages/backend/app/Http/Controllers/LogoutController.php
  packages/backend/app/Http/Controllers/MessagesController.php
  packages/backend/app/Http/Controllers/UsersController.php
  packages/backend/app/Models/User.php
  packages/backend/routes/api.php
Labels: Backend

Update note
  documents/note/index.md
Labels: none

コンフリクト解消の後始末 - composer update --lock
  packages/backend/composer.lock
Labels: Backend

Add dependencies
  packages/backend/composer.json
  packages/backend/composer.lock
Labels: Backend

OpenAPI Schema auto generate
  Makefile
  documents/api/shema.json
  packages/backend/app/Http/Controllers/LoginController.php
  packages/backend/app/Http/Controllers/LogoutController.php
  packages/backend/app/Http/Controllers/UsersController.php
  packages/backend/config/app.php
  packages/backend/config/openapi.php
Labels: Backend

Add RequestBodySchema
  documents/api/shema.json
  packages/backend/app/Http/Controllers/LoginController.php
  packages/backend/app/Http/Controllers/UsersController.php
  packages/backend/app/OpenApi/RequestBodies/LoginRequestBody.php
  packages/backend/app/OpenApi/RequestBodies/SignUpRequestBody.php
  packages/backend/app/OpenApi/Schemas/LoginRequestBodySchema.php
  packages/backend/app/OpenApi/Schemas/SignUpRequestBodySchema.php
Labels: Backend

Add Ok Response
  documents/api/shema.json
  packages/backend/app/Http/Controllers/LoginController.php
  packages/backend/app/Http/Controllers/LogoutController.php
  packages/backend/app/Http/Controllers/UsersController.php
  packages/backend/app/OpenApi/Responses/LoginResponse.php
  packages/backend/app/OpenApi/Responses/LogoutResponse.php
  packages/backend/app/OpenApi/Responses/SignUpResponse.php
  packages/backend/app/OpenApi/Responses/WhoAmiResponse.php
  packages/backend/app/OpenApi/Schemas/UserResponseSchema.php
Labels: Backend

Fix - Lint - サインアップ時にログインしないのを修正
  packages/backend/app/Http/Controllers/LoginController.php
  packages/backend/app/Http/Controllers/UsersController.php
  packages/backend/app/OpenApi/Schemas/LoginRequestBodySchema.php
Labels: Backend

Fix typo
  Makefile
  documents/api/schema.json
Labels: none

Add 400番台関係のスキーマ
  packages/backend/app/Http/Controllers/LoginController.php
  packages/backend/app/Http/Controllers/LogoutController.php
  packages/backend/app/Http/Controllers/UsersController.php
  packages/backend/app/OpenApi/Responses/BadRequestResponse.php
  packages/backend/app/OpenApi/Responses/UnauthorisedRequestResponse.php
  packages/backend/app/OpenApi/Schemas/BadRequestResponseSchema.php
Labels: Backend

Fix typo
  packages/backend/app/Http/Controllers/UsersController.php
  packages/backend/app/OpenApi/Responses/UnauthorizedRequestResponse.php
Labels: Backend

Update cSpell
  .vscode/settings.json
Labels: none

Add swagger ui container
  Makefile
  utils/compose.yml
Labels: none

Fix
  documents/api/schema.json
  packages/backend/.env.example
  packages/backend/app/Http/Controllers/UsersController.php
  packages/backend/app/OpenApi/RequestBodies/SignupRequestBody.php
  packages/backend/app/OpenApi/Responses/SignupResponse.php
  packages/backend/app/OpenApi/Responses/WhoAmiResponse.php
  packages/backend/app/OpenApi/Schemas/SignupRequestBodySchema.php
  packages/backend/app/OpenApi/Schemas/UserResponseSchema.php
Labels: Backend

Fix
  documents/api/schema.json
  packages/backend/app/Http/Controllers/UsersController.php
  packages/backend/app/OpenApi/RequestBodies/SignUpRequestBody.php
  packages/backend/app/OpenApi/Responses/SignUpResponse.php
  packages/backend/app/OpenApi/Schemas/SignUpRequestBodySchema.php
Labels: Backend

Update Makefile
  Makefile
Labels: none

Add Client Generator
  packages/frontend/.eslintignore
  packages/frontend/.gitignore
  packages/frontend/orval.config.ts
  packages/frontend/package.json
  packages/frontend/yarn.lock
Labels: Frontend

Fix
  packages/backend/app/OpenApi/Schemas/SignupRequestBodySchema.php
Labels: Backend

Add ユーザ情報更新用エンドポイント
  documents/api/schema.json
  packages/backend/app/Http/Controllers/UsersController.php
  packages/backend/app/OpenApi/RequestBodies/UpdateUserRequestBody.php
  packages/backend/app/OpenApi/Responses/UpdateUserResponse.php
  packages/backend/app/OpenApi/Schemas/UpdateUserRequestBodySchema.php
  packages/backend/routes/api.php
Labels: Backend

Update Makefile
  Makefile
Labels: none

Add パスワード更新用エンドポイント
  documents/api/schema.json
  packages/backend/app/Http/Controllers/UsersController.php
  packages/backend/app/OpenApi/RequestBodies/UpdateUserPasswordRequestBody.php
  packages/backend/app/OpenApi/Responses/UpdateUserPasswordResponse.php
  packages/backend/app/OpenApi/Schemas/UpdateUserPasswordRequestBodySchema.php
  packages/backend/routes/api.php
Labels: Backend

Fix requiredを付加
  documents/api/schema.json
  packages/backend/app/OpenApi/Schemas/LoginRequestBodySchema.php
  packages/backend/app/OpenApi/Schemas/SignupRequestBodySchema.php
  packages/backend/app/OpenApi/Schemas/UpdateUserPasswordRequestBodySchema.php
  packages/backend/app/OpenApi/Schemas/UpdateUserRequestBodySchema.php
  packages/backend/app/OpenApi/Schemas/UserResponseSchema.php
Labels: Backend

Add メッセージ投稿用エンドポイント
  documents/api/schema.json
  packages/backend/app/Http/Controllers/MessagesController.php
  packages/backend/app/OpenApi/RequestBodies/MessageCreateRequestBody.php
  packages/backend/app/OpenApi/Responses/MessageCreateResponse.php
  packages/backend/app/OpenApi/Schemas/MessageCreateRequestBodySchema.php
  packages/backend/routes/api.php
Labels: Backend

Add メッセージ取得用エンドポイント
  documents/api/schema.json
  packages/backend/app/Http/Controllers/MessagesController.php
  packages/backend/app/OpenApi/RequestBodies/MessageListRequestBody.php
  packages/backend/app/OpenApi/Responses/MessageListResponse.php
  packages/backend/app/OpenApi/Schemas/MessageListRequestBodySchema.php
  packages/backend/app/OpenApi/Schemas/MessageListResponseSchema.php
  packages/backend/routes/api.php
Labels: Backend

Add お気に入り操作用エンドポイント
  documents/api/schema.json
  packages/backend/app/Http/Controllers/FavoriteController.php
  packages/backend/app/OpenApi/RequestBodies/FavoriteReverseRequestBody.php
  packages/backend/app/OpenApi/Responses/FavoriteReverseResponse.php
  packages/backend/app/OpenApi/Schemas/FavoriteReverseRequestBodySchema.php
  packages/backend/routes/api.php
Labels: Backend

phpstanのメモリ上限引き上げ
  Makefile
Labels: none

Fix 4xxの時のレスポンス修正
  packages/backend/app/Http/Controllers/FavoriteController.php
  packages/backend/app/Http/Controllers/LoginController.php
  packages/backend/app/Http/Controllers/LogoutController.php
  packages/backend/app/Http/Controllers/MessagesController.php
  packages/backend/app/Http/Controllers/UsersController.php
Labels: Backend

Update すでにログイン済みなら400を返すように
  packages/backend/app/Http/Controllers/LoginController.php
Labels: Backend

Add 404用のスキーマ生成クラス
  packages/backend/app/OpenApi/Responses/NotFoundResponse.php
  packages/backend/app/OpenApi/Schemas/NotFoundResponseSchema.php
Labels: Backend

Fix ユーザ情報取得用エンドポイント修正
  documents/api/schema.json
  packages/backend/routes/api.php
Labels: Backend

CO削除
  packages/backend/app/Http/Controllers/FavoriteController.php
  packages/backend/app/Http/Controllers/LogoutController.php
Labels: Backend

Add Client Generator
  packages/frontend/.eslintignore
  packages/frontend/.gitignore
  packages/frontend/orval.config.ts
  packages/frontend/package.json
  packages/frontend/yarn.lock
Labels: Frontend

Add schema.json
  documents/api/schema.json
Labels: none

Add Route - #62
  packages/backend/app/Http/Controllers/UsersController.php
  packages/backend/routes/api.php
Labels: Backend

Fix 4xxの時のレスポンス修正
  packages/backend/app/Http/Controllers/LoginController.php
  packages/backend/app/Http/Controllers/LogoutController.php
  packages/backend/app/Http/Controllers/MessagesController.php
  packages/backend/app/Http/Controllers/UsersController.php
Labels: Backend
