Repository na2na-p/sns-app, changes with the labels that .github/labeler.yml gives for each.
All labels: Frontend, Backend

.github/labeler.yml:

Frontend: "packages/frontend/**/*"
Backend: "packages/backend/**/*"

Fix
  documents/api/schema.json
  packages/backend/app/OpenApi/Responses/MessageListResponse.php
  packages/frontend/src/pages/Timeline/InfiniteMessages.tsx
Labels: Frontend, Backend

Add MessageCreate
  packages/frontend/src/components/dataDisplay/MessageCard/FavoriteButton.tsx
  packages/frontend/src/components/dataDisplay/Modal.tsx
  packages/frontend/src/hooks/api/useMessageCreate.ts
  packages/frontend/src/pages/Timeline/InfiniteMessages.tsx
  packages/frontend/src/pages/Timeline/PostModal/hooks.ts
  packages/frontend/src/pages/Timeline/PostModal/index.tsx
  packages/frontend/src/pages/Timeline/hooks.ts
  packages/frontend/src/pages/Timeline/index.tsx
Labels: Frontend

refetch対応
  packages/frontend/src/pages/Timeline/InfiniteMessages.tsx
  packages/frontend/src/pages/Timeline/PostModal/hooks.ts
  packages/frontend/src/pages/Timeline/PostModal/index.tsx
  packages/frontend/src/pages/Timeline/hooks.ts
  packages/frontend/src/pages/Timeline/index.tsx
Labels: Frontend

Fix
  packages/frontend/src/hooks/api/useFavorite.ts
Labels: Frontend

Update domains
  Makefile
  packages/frontend/src/utils/getSchemeAndHost.ts
Labels: Frontend

For CF build
  .nvmrc
  Makefile
Labels: none

Fix ports
  packages/frontend/src/utils/getSchemeAndHost.ts
Labels: Frontend

fix prefix
  packages/frontend/src/utils/getSchemeAndHost.ts
Labels: Frontend

フォールバックルート追加
  packages/frontend/src/App.tsx
Labels: Frontend

レビュワー追加
  .github/auto_assign.yml
Labels: none

Add Build-Test
  .github/workflows/frontend-build-test.yml
Labels: none

Fix フォールバック時の挙動をリダイレクトに
  packages/frontend/src/App.tsx
Labels: Frontend

レビュワー追加
  .github/auto_assign.yml
Labels: none

Rename
  packages/backend/tests/Feature/Http/Controllers/SignUpRouteTest.php
Labels: Backend

Add HasFactory
  packages/backend/app/Models/User.php
Labels: Backend

Linter Auto Fix
  packages/backend/tests/Feature/Http/Controllers/SignUpRouteTest.php
Labels: Backend

Add UsersControllerTest
  packages/backend/tests/Feature/Http/Controllers/UsersControllerTest.php
Labels: Backend

指摘事項対応 - ユーザ作成時にDBも確認するように - エラーメッセージも確認するように
  packages/backend/tests/Feature/Http/Controllers/SignUpRouteTest.php
Labels: Backend

Update factory
  packages/backend/database/factories/UserFactory.php
Labels: Backend

Fix ポリモーフィックコードやめましょう
  packages/backend/tests/Feature/Http/Controllers/UsersControllerTest.php
Labels: Backend

Fix - パスワードの生成文字数を明示的に指定 - メールアドレスにfake使うことを徹底 - テストケース追加
  packages/backend/tests/Feature/Http/Controllers/UsersControllerTest.php
Labels: Backend

Fix name
  .github/workflows/frontend-build-test.yml
Labels: none

Rename
  packages/backend/tests/Feature/Http/Controllers/SignUpUsersControllerTest.php
Labels: Backend

テストケース統合
  packages/backend/tests/Feature/Http/Controllers/SignUpUsersControllerTest.php
Labels: Backend

dataProviderを利用するように
  packages/backend/tests/Feature/Http/Controllers/SignUpUsersControllerTest.php
Labels: Backend

Split
  packages/backend/app/Models/User.php
  packages/backend/tests/Feature/Http/Controllers/SignUpUsersControllerTest.php
  packages/backend/tests/Unit/Requests/SignupRequestTest.php
Labels: Backend

Update
  packages/backend/tests/Unit/Requests/SignupRequestTest.php
Labels: Backend

Update 最大文字数指定
  packages/backend/app/Http/Requests/LoginRequest.php
Labels: Backend

Update phpunit.xml
  packages/backend/phpunit.xml
Labels: Backend

カバレッジレポートも出力するように
  Makefile
  packages/backend/.env.example
Labels: Backend

カパレッジレポートをファイルに吐き出すように
  Makefile
  packages/backend/.gitignore
Labels: Backend

Update workflows
  .github/workflows/test_backend.yml
Labels: none

不要ビルドテストの削除
  .github/workflows/frontend-build-test.yml
Labels: none

カバレッジをPRのコメントへ
  .github/workflows/test_backend.yml
  Makefile
  packages/backend/.gitignore
Labels: Backend

Fix 過去のカバレッジレポートを隠すように
  .github/workflows/test_backend.yml
Labels: none

Update
  .github/workflows/test_backend.yml
Labels: none

Update
  .github/actions/coverage/.editorconfig
  .github/actions/coverage/.github/workflows/release.yml
  .github/actions/coverage/.gitignore
  .github/actions/coverage/README.md
  .github/actions/coverage/action.yml
  .github/actions/coverage/dist/main.js
  .github/actions/coverage/package.json
  .github/actions/coverage/rollup.config.js
  .github/actions/coverage/src/cli.js
  .github/actions/coverage/src/clover.js
  .github/actions/coverage/src/clover_test.js
  .github/actions/coverage/src/comment.js
  .github/actions/coverage/src/html.js
  .github/actions/coverage/src/html_test.js
  .github/actions/coverage/src/index.js
  .github/actions/coverage/src/tabulate.js
  .github/actions/coverage/src/tabulate_test.js
  .github/actions/coverage/yarn.lock
  .github/workflows/test_backend.yml
Labels: none

Add cloudflare pagesへのデプロイをActionsでやるように
  .github/workflows/cloudflare-pages.yml
Labels: none

Add mainへのPush時にキャッシュをパージするように
  .github/workflows/cloudflare-pages.yml
Labels: none

Update 自前のトークン使うように
  .github/workflows/cloudflare-pages.yml
Labels: none
