Repository na2na-p/sns-app, changes with the labels that .github/labeler.yml gives for each.
All labels: Frontend, Backend

.github/labeler.yml:

Frontend: "packages/frontend/**/*"
Backend: "packages/backend/**/*"

Add - パスワード変更 - ユーザ情報更新
  packages/backend/app/Http/Controllers/UsersController.php
  packages/backend/app/Http/Requests/PasswordUpdateRequest.php
  packages/backend/app/Http/Requests/UpdateUserRequest.php
  packages/backend/routes/api.php
Labels: Backend

Update `Auth::user();`に統一
  packages/backend/app/Http/Controllers/FavoriteController.php
  packages/backend/app/Http/Controllers/MessagesController.php
  packages/backend/app/Http/Controllers/UsersController.php
Labels: Backend

Fix routes
  packages/backend/routes/api.php
Labels: Backend

Add ユーザ情報更新
  packages/frontend/src/App.tsx
  packages/frontend/src/generated/badRequestResponse.ts
  packages/frontend/src/generated/badRequestResponseErrors.ts
  packages/frontend/src/generated/forbiddenResponse.ts
  packages/frontend/src/generated/index.ts
  packages/frontend/src/generated/postApiV1LoginBody.ts
  packages/frontend/src/generated/postApiV1UsersBody.ts
  packages/frontend/src/generated/userResponse.ts
  packages/frontend/src/hooks/api/useUserInfoUpdate.ts
  packages/frontend/src/layout/Header/index.tsx
  packages/frontend/src/pages/Login/hooks.ts
  packages/frontend/src/pages/Login/index.tsx
  packages/frontend/src/pages/UserInfoUpdate/SHADOW.ts
  packages/frontend/src/pages/UserInfoUpdate/SignUpForm.ts
  packages/frontend/src/pages/UserInfoUpdate/hooks.ts
  packages/frontend/src/pages/UserInfoUpdate/index.tsx
  packages/frontend/src/routes/AuthRouter.tsx
  packages/frontend/src/routes/index.tsx
Labels: Frontend

Update generated
  packages/frontend/src/generated/getApiV1Messages200Item.ts
  packages/frontend/src/generated/getApiV1Messages400.ts
  packages/frontend/src/generated/getApiV1Messages400Errors.ts
  packages/frontend/src/generated/getApiV1MessagesBody.ts
  packages/frontend/src/generated/index.ts
  packages/frontend/src/generated/postApiV1Login400.ts
  packages/frontend/src/generated/postApiV1Login400Errors.ts
  packages/frontend/src/generated/postApiV1Login403.ts
  packages/frontend/src/generated/postApiV1LoginBody.ts
  packages/frontend/src/generated/postApiV1Logout400.ts
  packages/frontend/src/generated/postApiV1Logout400Errors.ts
  packages/frontend/src/generated/postApiV1Messages400.ts
  packages/frontend/src/generated/postApiV1Messages400Errors.ts
  packages/frontend/src/generated/postApiV1MessagesBody.ts
  packages/frontend/src/generated/postApiV1Users400.ts
  packages/frontend/src/generated/postApiV1Users400Errors.ts
  packages/frontend/src/generated/postApiV1UsersBody.ts
  packages/frontend/src/generated/putApiV1MessagesMessageIdFavorite404.ts
  packages/frontend/src/generated/putApiV1MessagesMessageIdFavoriteBody.ts
  packages/frontend/src/generated/putApiV1UsersMe400.ts
  packages/frontend/src/generated/putApiV1UsersMe400Errors.ts
  packages/frontend/src/generated/putApiV1UsersMeBody.ts
  packages/frontend/src/generated/putApiV1UsersMePassword400.ts
  packages/frontend/src/generated/putApiV1UsersMePassword400Errors.ts
  packages/frontend/src/generated/putApiV1UsersMePasswordBody.ts
  packages/frontend/src/generated/userResponse.ts
Labels: Frontend

Update ログインからタイムラインへの遷移
  packages/frontend/src/hooks/api/useLogin.ts
Labels: Frontend

定数の切り出し
  packages/frontend/src/constants/SHADOW.ts
  packages/frontend/src/pages/Login/index.tsx
  packages/frontend/src/pages/SignUp/SHADOW.ts
  packages/frontend/src/pages/SignUp/index.tsx
  packages/frontend/src/pages/UserInfoUpdate/SHADOW.ts
  packages/frontend/src/pages/UserInfoUpdate/index.tsx
Labels: Frontend

Update generated
  packages/frontend/src/generated/putApiV1UsersMePasswordBody.ts
Labels: Frontend

Add userPasswordUpdate
  packages/frontend/src/App.tsx
  packages/frontend/src/hooks/api/useUserPasswordUpdate.ts
  packages/frontend/src/layout/Header/index.tsx
  packages/frontend/src/pages/PasswordUpdate/hooks.ts
  packages/frontend/src/pages/PasswordUpdate/index.tsx
  packages/frontend/src/routes/index.tsx
Labels: Frontend

Add generated schema
  documents/api/schema.json
Labels: none

Add ユーザ情報更新系
  packages/backend/app/Http/Controllers/UsersController.php
  packages/backend/app/OpenApi/RequestBodies/UpdateUserPasswordRequestBody.php
  packages/backend/app/OpenApi/RequestBodies/UpdateUserRequestBody.php
  packages/backend/app/OpenApi/Responses/UpdateUserPasswordResponse.php
  packages/backend/app/OpenApi/Responses/UpdateUserResponse.php
Labels: Backend

Update 不要スキーマ排除
  packages/backend/app/OpenApi/Responses/BadRequestResponse.php
  packages/backend/app/OpenApi/Responses/ForbiddenResponse.php
  packages/backend/app/OpenApi/Schemas/BadRequestResponseSchema.php
  packages/backend/app/OpenApi/Schemas/ForbiddenResponseSchema.php
Labels: Backend

Add メッセージ関連
  packages/backend/app/Http/Controllers/MessagesController.php
  packages/backend/app/OpenApi/RequestBodies/MessageCreateRequestBody.php
  packages/backend/app/OpenApi/RequestBodies/MessageListRequestBody.php
  packages/backend/app/OpenApi/Responses/MessageCreateResponse.php
  packages/backend/app/OpenApi/Responses/MessageListResponse.php
Labels: Backend

Add Favorite route
  packages/backend/app/Http/Controllers/FavoriteController.php
  packages/backend/app/OpenApi/RequestBodies/AddFavoriteRequestBody.php
  packages/backend/app/OpenApi/Responses/AddFavoriteResponse.php
  packages/backend/app/OpenApi/Responses/NotFoundResponse.php
Labels: Backend

Fix PasswordType
  packages/backend/app/OpenApi/RequestBodies/UpdateUserPasswordRequestBody.php
Labels: Backend

Update generated schema
  documents/api/schema.json
Labels: none

Update schema
  documents/api/schema.json
Labels: none

update generated schema
  documents/api/schema.json
Labels: none

Fix
  packages/frontend/src/pages/PasswordUpdate/index.tsx
Labels: Frontend

Add dependencies
  packages/frontend/package.json
  packages/frontend/src/pages/Timeline/useInfiniteMessages.ts
  packages/frontend/yarn.lock
Labels: Frontend

Add timeline
  packages/frontend/package.json
  packages/frontend/src/components/dataDisplay/MessageCard/index.tsx
  packages/frontend/src/pages/Timeline/InfiniteMessages.tsx
  packages/frontend/src/pages/Timeline/index.tsx
  packages/frontend/src/pages/Timeline/useInfiniteMessages.ts
  packages/frontend/src/types/models/Message.ts
  packages/frontend/src/utils/uniqBy.ts
  packages/frontend/yarn.lock
Labels: Frontend

Add Fav
  packages/frontend/src/components/dataDisplay/MessageCard/FavoriteButton.tsx
  packages/frontend/src/components/dataDisplay/MessageCard/index.tsx
  packages/frontend/src/hooks/api/useFavorite.ts
  packages/frontend/src/pages/Timeline/InfiniteMessages.tsx
Labels: Frontend

Update 不要スキーマ排除
  packages/backend/app/OpenApi/Responses/BadRequestResponse.php
  packages/backend/app/OpenApi/Responses/ForbiddenResponse.php
  packages/backend/app/OpenApi/Schemas/BadRequestResponseSchema.php
  packages/backend/app/OpenApi/Schemas/ForbiddenResponseSchema.php
Labels: Backend

Update schema
  documents/api/schema.json
Labels: none

Add メッセージ関連
  packages/backend/app/Http/Controllers/MessagesController.php
  packages/backend/app/OpenApi/RequestBodies/MessageCreateRequestBody.php
  packages/backend/app/OpenApi/RequestBodies/MessageListRequestBody.php
  packages/backend/app/OpenApi/Responses/MessageCreateResponse.php
  packages/backend/app/OpenApi/Responses/MessageListResponse.php
Labels: Backend

Update generated schema
  documents/api/schema.json
Labels: none

Fix PasswordType
  packages/backend/app/OpenApi/RequestBodies/UpdateUserPasswordRequestBody.php
Labels: Backend

Add ユーザ情報更新系
  packages/backend/app/Http/Controllers/UsersController.php
  packages/backend/app/OpenApi/RequestBodies/UpdateUserPasswordRequestBody.php
  packages/backend/app/OpenApi/RequestBodies/UpdateUserRequestBody.php
  packages/backend/app/OpenApi/Responses/UpdateUserPasswordResponse.php
  packages/backend/app/OpenApi/Responses/UpdateUserResponse.php
Labels: Backend

Fix 不要なパラメータの除去
  packages/backend/app/OpenApi/RequestBodies/AddFavoriteRequestBody.php
Labels: Backend

Remove 不要クラスの除去
  packages/backend/app/Http/Controllers/FavoriteController.php
  packages/backend/app/OpenApi/RequestBodies/AddFavoriteRequestBody.php
Labels: Backend

Add Favorite route
  packages/backend/app/Http/Controllers/FavoriteController.php
  packages/backend/app/OpenApi/RequestBodies/AddFavoriteRequestBody.php
  packages/backend/app/OpenApi/Responses/AddFavoriteResponse.php
  packages/backend/app/OpenApi/Responses/NotFoundResponse.php
Labels: Backend

指摘事項対応 - クエリパラメータを正しく定義しましょう
  packages/backend/app/Http/Controllers/MessagesController.php
  packages/backend/app/OpenApi/Parameters/ListMessagesParameters.php
  packages/backend/app/OpenApi/RequestBodies/MessageListRequestBody.php
Labels: Backend

Remove generated
  .gitignore
  packages/frontend/src/generated/getApiV1Messages200Item.ts
  packages/frontend/src/generated/getApiV1Messages400.ts
  packages/frontend/src/generated/getApiV1Messages400Errors.ts
  packages/frontend/src/generated/getApiV1MessagesBody.ts
  packages/frontend/src/generated/index.ts
  packages/frontend/src/generated/postApiV1Login400.ts
  packages/frontend/src/generated/postApiV1Login400Errors.ts
  packages/frontend/src/generated/postApiV1Login403.ts
  packages/frontend/src/generated/postApiV1LoginBody.ts
  packages/frontend/src/generated/postApiV1Logout400.ts
  packages/frontend/src/generated/postApiV1Logout400Errors.ts
  packages/frontend/src/generated/postApiV1Messages400.ts
  packages/frontend/src/generated/postApiV1Messages400Errors.ts
  packages/frontend/src/generated/postApiV1MessagesBody.ts
  packages/frontend/src/generated/postApiV1Users400.ts
  packages/frontend/src/generated/postApiV1Users400Errors.ts
  packages/frontend/src/generated/postApiV1UsersBody.ts
  packages/frontend/src/generated/putApiV1MessagesMessageIdFavorite404.ts
  packages/frontend/src/generated/putApiV1MessagesMessageIdFavoriteBody.ts
  packages/frontend/src/generated/putApiV1UsersMe400.ts
  packages/frontend/src/generated/putApiV1UsersMe400Errors.ts
  packages/frontend/src/generated/putApiV1UsersMeBody.ts
  packages/frontend/src/generated/putApiV1UsersMePassword400.ts
  packages/frontend/src/generated/putApiV1UsersMePassword400Errors.ts
  packages/frontend/src/generated/putApiV1UsersMePasswordBody.ts
  packages/frontend/src/generated/userResponse.ts
Labels: Frontend

schema auto generated
  documents/api/schema.json
Labels: none

Fix Makefile
  Makefile
Labels: none

Fix `GET: /api/v1/messages`
  packages/backend/app/Http/Controllers/MessagesController.php
  packages/backend/app/OpenApi/Responses/MessageListResponse.php
Labels: Backend

Update OpenAPI Schema
  documents/api/schema.json
Labels: none

Fix sign up
  packages/frontend/src/hooks/api/useSignUp.ts
Labels: Frontend

Add buttons
  packages/frontend/src/pages/Timeline/index.tsx
Labels: Frontend

Update Header
  packages/frontend/src/layout/Header/index.tsx
Labels: Frontend
