Repository na2na-p/sns-app, changes with the labels that .github/labeler.yml gives for each.
All labels: Frontend, Backend

.github/labeler.yml:

Frontend: "packages/frontend/**/*"
Backend: "packages/backend/**/*"

指摘事項対応 - 不要なquery, selectを削除
  packages/backend/app/Http/Controllers/MessagesController.php
Labels: Backend

指摘事項対応 - 可読性向上
  packages/backend/app/Http/Controllers/MessagesController.php
Labels: Backend

指摘事項対応 - Responseの前に詰め直す
  packages/backend/app/Http/Controllers/MessagesController.php
Labels: Backend

指摘事項対応 - n+1 問題回避
  packages/backend/app/Http/Controllers/MessagesController.php
Labels: Backend

Fix - Linter auto fix - 不適なWhere句
  packages/backend/app/Http/Controllers/MessagesController.php
Labels: Backend

Fix linter error
  packages/backend/app/Http/Controllers/MessagesController.php
Labels: Backend

assert()を利用するように
  packages/backend/app/Http/Controllers/MessagesController.php
  packages/backend/app/Http/Controllers/UsersController.php
Labels: Backend

Fix lint error
  packages/backend/app/Http/Controllers/LoginController.php
  packages/backend/app/Http/Controllers/LogoutController.php
  packages/backend/app/Http/Controllers/MessagesController.php
  packages/backend/app/Http/Controllers/UsersController.php
  packages/backend/app/Http/Requests/ApiRequest.php
  packages/backend/app/Http/Requests/ListMessageRequest.php
  packages/backend/app/Http/Requests/LoginRequest.php
  packages/backend/app/Http/Requests/MessageCreateRequest.php
  packages/backend/app/Http/Requests/SignupRequest.php
Labels: Backend

Add dependencies
  packages/backend/composer.json
  packages/backend/composer.lock
  packages/backend/config/app.php
  packages/backend/config/openapi.php
Labels: Backend

Add FindUser route schema
  packages/backend/app/Http/Controllers/UsersController.php
  packages/backend/app/OpenApi/Responses/FindUserResponse.php
  packages/backend/app/OpenApi/Responses/UnauthorizedRequestResponse.php
  packages/backend/app/OpenApi/Schemas/UserResponseSchema.php
Labels: Backend

Add SignUp route schema
  packages/backend/app/Http/Controllers/UsersController.php
  packages/backend/app/OpenApi/RequestBodies/SignupRequestBody.php
  packages/backend/app/OpenApi/Responses/BadRequestResponse.php
  packages/backend/app/OpenApi/Responses/SignupResponse.php
  packages/backend/app/OpenApi/Schemas/BadRequestResponseSchema.php
Labels: Backend

Add Logout route schema
  packages/backend/app/Http/Controllers/LogoutController.php
  packages/backend/app/OpenApi/Responses/LogoutResponse.php
Labels: Backend

Add Login route schema
  packages/backend/app/Http/Controllers/LoginController.php
  packages/backend/app/OpenApi/RequestBodies/LoginRequestBody.php
  packages/backend/app/OpenApi/Responses/LoginResponse.php
  packages/backend/app/OpenApi/Schemas/LoginRequestBodySchema.php
Labels: Backend

Add 小物たち
  Makefile
  packages/backend/.env.example
  packages/backend/app/OpenApi/Schemas/SignupRequestBodySchema.php
Labels: Backend

その場しのぎ
  packages/backend/composer.json
Labels: Backend

Linter Auto Fix
  packages/backend/app/Http/Controllers/LoginController.php
  packages/backend/app/Http/Controllers/UsersController.php
  packages/backend/app/OpenApi/Schemas/BadRequestResponseSchema.php
  packages/backend/config/app.php
  packages/backend/config/openapi.php
Labels: Backend

Add ForbiddenResponse
  packages/backend/app/Http/Controllers/LoginController.php
  packages/backend/app/OpenApi/Responses/ForbiddenResponse.php
  packages/backend/app/OpenApi/Schemas/ForbiddenResponseSchema.php
Labels: Backend

指摘事項対応 - 共通部品でないスキーマはそれぞれで定義するように
  packages/backend/app/OpenApi/RequestBodies/LoginRequestBody.php
  packages/backend/app/OpenApi/RequestBodies/SignupRequestBody.php
  packages/backend/app/OpenApi/Responses/ForbiddenResponse.php
  packages/backend/app/OpenApi/Schemas/BadRequestResponseSchema.php
  packages/backend/app/OpenApi/Schemas/LoginRequestBodySchema.php
  packages/backend/app/OpenApi/Schemas/SignupRequestBodySchema.php
  packages/backend/app/OpenApi/Schemas/UserResponseSchema.php
Labels: Backend

Fix
  packages/backend/app/Http/Requests/SignupRequest.php
Labels: Backend

Fix route
  packages/backend/routes/api.php
Labels: Backend

Fix
  packages/backend/app/Http/Controllers/FavoriteController.php
  packages/backend/routes/api.php
Labels: Backend

Fix Lint
  packages/backend/app/Http/Controllers/FavoriteController.php
Labels: Backend

Add favorites route
  packages/backend/app/Http/Controllers/FavoriteController.php
  packages/backend/routes/api.php
Labels: Backend

Fix validation
  packages/backend/app/Http/Controllers/FavoriteController.php
  packages/backend/app/Http/Requests/addFavoriteRequest.php
Labels: Backend

指摘事項対応 - すでに存在する時は更新日時のアップデートをして200を返すように
  packages/backend/app/Http/Controllers/FavoriteController.php
  packages/backend/app/Http/Requests/addFavoriteRequest.php
Labels: Backend

指摘事項対応 - updateOrCreate
  packages/backend/app/Http/Controllers/FavoriteController.php
  packages/backend/app/Models/Favorite.php
Labels: Backend

Add types
  packages/frontend/src/types/models/User.ts
Labels: Frontend

Add reset css
  packages/frontend/index.html
Labels: Frontend

Add routes
  packages/frontend/src/routes/AuthRouter.tsx
  packages/frontend/src/routes/index.tsx
Labels: Frontend

Add login
  packages/backend/config/cors.php
  packages/frontend/orval.config.ts
  packages/frontend/package.json
  packages/frontend/scripts/orvalMod.sh
  packages/frontend/src/App.tsx
  packages/frontend/src/components/form/plain/TextFormInput/index.tsx
  packages/frontend/src/components/input/TextInput/index.tsx
  packages/frontend/src/hooks/api/useLogin.ts
  packages/frontend/src/hooks/api/useLogout.ts
  packages/frontend/src/hooks/useAuth.ts
  packages/frontend/src/hooks/useCurrentUser.ts
  packages/frontend/src/layout/Header/index.tsx
  packages/frontend/src/main.tsx
  packages/frontend/src/mocks/handlers.ts
  packages/frontend/src/pages/Login/Attempt.tsx
  packages/frontend/src/pages/Login/SHADOW.ts
  packages/frontend/src/pages/Login/hooks.ts
  packages/frontend/src/pages/Login/index.tsx
  packages/frontend/src/pages/Timeline/hooks.ts
  packages/frontend/src/pages/Timeline/index.tsx
  packages/frontend/src/utils/UserContext.ts
  packages/frontend/src/utils/getSchemeAndHost.ts
Labels: Frontend, Backend

Fix scroll
  packages/frontend/src/components/dataDisplay/ScrollContainer.tsx
  packages/frontend/src/pages/Timeline/index.tsx
Labels: Frontend

Move Card
  packages/frontend/src/components/dataDisplay/Card/CardContent.tsx
  packages/frontend/src/components/dataDisplay/Card/CardHeader.tsx
  packages/frontend/src/components/dataDisplay/Card/index.tsx
  packages/frontend/src/components/dataDisplay/MessageCard/index.tsx
Labels: Frontend

Update Header
  packages/frontend/src/layout/Header/index.tsx
Labels: Frontend

Refactor
  Makefile
  documents/api/schema.json
  packages/frontend/.eslintignore
  packages/frontend/.eslintrc.cjs
  packages/frontend/orval.config.ts
  packages/frontend/package.json
  packages/frontend/scripts/orvalMod.sh
  packages/frontend/src/App.tsx
  packages/frontend/src/components/dataDisplay/Card/CardContent.tsx
  packages/frontend/src/components/dataDisplay/Card/CardHeader.tsx
  packages/frontend/src/components/dataDisplay/Card/index.tsx
  packages/frontend/src/components/dataDisplay/MessageCard/FavoriteButton.tsx
  packages/frontend/src/components/dataDisplay/MessageCard/index.tsx
  packages/frontend/src/components/dataDisplay/ScrollContainer.tsx
  packages/frontend/src/components/form/labeled/TextFormInput/index.tsx
  packages/frontend/src/components/form/plain/TextFormInput/index.tsx
  packages/frontend/src/components/input/Button/index.tsx
  packages/frontend/src/components/layout/AppBar/index.tsx
  packages/frontend/src/hooks/api/useLogin.ts
  packages/frontend/src/hooks/api/useLogout.ts
  packages/frontend/src/hooks/api/usePing.ts
  packages/frontend/src/hooks/useAuth.ts
  packages/frontend/src/layout/Header/index.tsx
  packages/frontend/src/main.tsx
  packages/frontend/src/pages/Login/Attempt.tsx
  packages/frontend/src/pages/Login/SHADOW.ts
  packages/frontend/src/pages/Login/hooks.ts
  packages/frontend/src/pages/Login/index.tsx
  packages/frontend/src/pages/Timeline/index.tsx
  packages/frontend/src/routes/AuthRouter.tsx
  packages/frontend/src/routes/index.tsx
  packages/frontend/src/types/api/index.ts
  packages/frontend/src/types/models/User.ts
  packages/frontend/src/utils/UserContext.ts
  packages/frontend/src/utils/getSchemeAndHost.ts
Labels: Frontend

Add login redirect
  packages/frontend/src/hooks/api/useLogin.ts
Labels: Frontend

Add dependencies
  packages/frontend/package.json
  packages/frontend/yarn.lock
Labels: Frontend

Add useAuth
  packages/frontend/src/hooks/useAuth.ts
Labels: Frontend

Add sign-up button
  packages/frontend/src/pages/Login/index.tsx
Labels: Frontend

Add SignUp
  packages/frontend/src/App.tsx
  packages/frontend/src/hooks/api/useSignUp.ts
  packages/frontend/src/pages/Login/Attempt.tsx
  packages/frontend/src/pages/SignUp/SHADOW.ts
  packages/frontend/src/pages/SignUp/SignUpForm.ts
  packages/frontend/src/pages/SignUp/hooks.ts
  packages/frontend/src/pages/SignUp/index.tsx
  packages/frontend/src/routes/index.tsx
Labels: Frontend

ビルドテストつらいのでgeneratedも入れる
  packages/frontend/.gitignore
  packages/frontend/src/generated/badRequestResponse.ts
  packages/frontend/src/generated/badRequestResponseErrors.ts
  packages/frontend/src/generated/forbiddenResponse.ts
  packages/frontend/src/generated/index.ts
  packages/frontend/src/generated/postApiV1LoginBody.ts
  packages/frontend/src/generated/postApiV1UsersBody.ts
  packages/frontend/src/generated/userResponse.ts
Labels: Frontend
