Repository na2na-p/sns-app, changes with the labels that .github/labeler.yml gives for each.
All labels: Frontend, Backend

Update .tool-versions
  .tool-versions
Labels: none

Add dependencies
  packages/frontend/package.json
  packages/frontend/yarn.lock
Labels: Frontend

Fix workflows
  .github/workflows/test_frontend.yml
Labels: none

Update rules
  packages/frontend/.eslintrc.cjs
Labels: Frontend

Auto fixed by ESLint
  packages/frontend/src/App.tsx
  packages/frontend/src/main.tsx
Labels: Frontend

Update actions
  .github/workflows/labeler.yml
Labels: none

Update
  .github/workflows/test_frontend.yml
Labels: none

Add 要件定義の確認
  documents/application_desigin.md
Labels: none

Update run conditions
  .github/workflows/test_frontend.yml
Labels: none

Update
  documents/application_desigin.md
Labels: none

Fix workflows
  .github/workflows/labeler.yml
Labels: none

Fix actions
  .github/workflows/labeler.yml
Labels: none

Update workflows
  .github/workflows/test_frontend.yml
Labels: none

Add renovate.json5
  renovate.json5
Labels: none

Update workflows
  .github/workflows/test_frontend.yml
Labels: none

Fix test trigger conditions
  .github/workflows/test_frontend.yml
Labels: none

Init
  utils/prisma/schema.prisma
Labels: none

setup utils
  Makefile
  utils/.dockerignore
  utils/.gitignore
  utils/Dockerfile
  utils/compose.yml
  utils/out/.gitkeep
Labels: none

Update schema
  utils/prisma/schema.prisma
Labels: none

Add DB tables
  documents/db/README.md
Labels: none

Add erd
  documents/db/erd.md
  utils/prisma/schema.prisma
Labels: none

Update schema
  documents/db/erd.md
  utils/prisma/schema.prisma
Labels: none

Update scripts
  Makefile
Labels: none

Add dependencies
  utils/package.json
  utils/yarn.lock
Labels: none

Update 論理名追記
  documents/db/README.md
Labels: none

Update Schema
  documents/application_desigin.md
  documents/db/README.md
  utils/prisma/schema.prisma
Labels: none

指摘事項対応 - snake_case - パスワードはハッシュ化するから32超える - VARCHARは日本語でも1文字 - Laravelでcreated_at等が必要かも
  documents/db/README.md
  utils/prisma/schema.prisma
Labels: none

指摘事項対応 - Dockerfileとか
  documents/db/erd.md
  utils/.env_example
  utils/Dockerfile
  utils/compose.yml
Labels: none

Fix typo
  documents/db/README.md
Labels: none

Add dependencies
  packages/backend/composer.json
  packages/backend/composer.lock
Labels: Backend

Add rules
  packages/backend/phpstan.neon
Labels: Backend

Update Makefile
  Makefile
Labels: none

Add workflows
  .github/workflows/test_backend.yml
Labels: none

Add reviewer auto assign
  .github/CODEOWNERS
  .github/auto_assign.yml
  .github/workflows/reviewer-assign.yml
Labels: none

Add PR templates
  .github/pull_request_template.md
Labels: none

Update runs conditions
  .github/workflows/test_backend.yml
  .github/workflows/test_frontend.yml
Labels: none

Update enable auto merge
  .github/workflows/enable-auto-merge.yml
Labels: none

Add figma links
  documents/ui/README.md
Labels: none

Update Makefile
  Makefile
Labels: none

Fix workflows
  .github/workflows/reviewer-assign.yml
Labels: none

.github/labeler.yml:

Frontend: "packages/frontend/**/*"
Backend: "packages/backend/**/*"
