Repository na2na-p/sns-app, changes with the labels that .github/labeler.yml gives for each.
All labels: Frontend, Backend, Infra

.github/labeler.yml:

Frontend: "packages/frontend/**/*"
Backend: "packages/backend/**/*"
Infra: "packages/infra/**/*"

Fix typo
  Makefile
  packages/intern-slide/.gitignore
  packages/intern-slide/README.md
  packages/intern-slide/components/Counter.vue
  packages/intern-slide/package.json
  packages/intern-slide/slides.md
  packages/intern-slide/yarn.lock
Labels: none

Remove unused
  packages/intern-silde/pages/multiple-entries.md
Labels: none

Add dependencies
  packages/intern-silde/.gitignore
  packages/intern-silde/README.md
  packages/intern-silde/components/Counter.vue
  packages/intern-silde/package.json
  packages/intern-silde/pages/multiple-entries.md
  packages/intern-silde/slides.md
  packages/intern-silde/yarn.lock
Labels: none

Add Theme
  packages/intern-silde/package.json
  packages/intern-silde/yarn.lock
Labels: none

Add 環境周りまで
  packages/intern-silde/slides.md
Labels: none

Update .gitattributes
  .gitattributes
Labels: none

Update Actions Name
  .github/workflows/cloudflare-pages-slide.yml
  .github/workflows/cloudflare-pages.yml
Labels: none

Update dev command
  packages/intern-silde/package.json
Labels: none

Add Slide deploy
  .github/workflows/cloudflare-pages-slide.yml
  Makefile
Labels: none

Update slides.md
  packages/intern-slide/slides.md
Labels: none

Add dependencies
  packages/intern-slide/package.json
  packages/intern-slide/yarn.lock
Labels: none

一旦最後まで
  packages/intern-silde/slides.md
Labels: none

Add exported pdf
  packages/intern-slide/slides-export.pdf
Labels: none

Add command
  packages/intern-slide/package.json
Labels: none

Add comment追記
  packages/intern-slide/slides.md
Labels: none

Update - 表紙追記 - 目次を見やすく
  packages/intern-slide/slides.md
Labels: none

バージョン情報追記
  packages/intern-slide/slides.md
Labels: none

Update - OpenAPIスキーマ生成ライブラリに言及 - 本番カンペ追記
  packages/intern-slide/slides.md
Labels: none

Add page number
  packages/frontend/src/pages/Timeline/PostModal/hooks.ts
  packages/intern-slide/global-bottom.vue
Labels: Frontend

Update 要件定義について追加
  packages/intern-slide/slides.md
Labels: none

Add demo image
  packages/intern-slide/slides.md
Labels: none

Update exported pdf
  packages/intern-slide/slides-export.pdf
Labels: none

Fix 日付
  packages/intern-slide/slides.md
Labels: none

Update comments
  packages/intern-slide/slides.md
Labels: none

Update pdf
  packages/intern-slide/slides-export.pdf
Labels: none

サーバサイドインターン/発表資料 (#127)
  .gitattributes
  .github/workflows/cloudflare-pages-slide.yml
  Makefile
  packages/frontend/src/pages/Timeline/PostModal/hooks.ts
  packages/intern-slide/.gitignore
  packages/intern-slide/README.md
  packages/intern-slide/components/Counter.vue
  packages/intern-slide/global-bottom.vue
  packages/intern-slide/package.json
  packages/intern-slide/slides-export.pdf
  packages/intern-slide/slides.md
  packages/intern-slide/yarn.lock
Labels: Frontend

Add comment
  packages/intern-slide/slides.md
Labels: none

Remove reviewers
  .github/auto_assign.yml
Labels: none

Remove CDs
  .github/workflows/backend-cd.yml
  .github/workflows/cloudflare-pages-slide.yml
  .github/workflows/infra-plan.yml
Labels: none

未使用ミドルウェアの削除
  packages/backend/app/Http/Kernel.php
  packages/backend/app/Http/Middleware/Authenticate.php
  packages/backend/app/Http/Middleware/RedirectIfAuthenticated.php
  packages/backend/app/Http/Middleware/TrustHosts.php
Labels: Backend

Update Makefile
  Makefile
Labels: none

Update .gitignore
  packages/frontend/.gitignore
Labels: Frontend

Add dependencies
  packages/frontend/package.json
  packages/frontend/yarn.lock
Labels: Frontend

Move
  packages/frontend/tests/vitest/setup.ts
Labels: Frontend

Update vite.config.ts
  packages/frontend/vite.config.ts
Labels: Frontend

add tsconfig for tests dir
  packages/frontend/tests/tsconfig.json
Labels: Frontend

Add playwright
  .github/workflows/e2e.yml
  packages/frontend/playwright.config.ts
  packages/frontend/tests/playwright/cases/login.spec.ts
  packages/frontend/tests/playwright/cases/route/timeline.spec.ts
  packages/frontend/tests/playwright/globalSetUp.ts
Labels: Frontend

Add phpinsights
  Makefile
  packages/backend/composer.json
  packages/backend/composer.lock
Labels: Backend

Lint統合
  .github/workflows/test_backend.yml
  Makefile
Labels: none

Update workflows
  .github/workflows/test_backend.yml
  Makefile
Labels: none
