Repository na2na-p/sns-app, changes with the labels that .github/labeler.yml gives for each.
All labels: Frontend, Backend, Infra

Linter Auto Fix
  packages/backend/app/Console/Kernel.php
  packages/backend/app/Exceptions/Handler.php
  packages/backend/app/Http/Controllers/FavoriteController.php
  packages/backend/app/Http/Controllers/LoginController.php
  packages/backend/app/Http/Controllers/MessagesController.php
  packages/backend/app/Http/Controllers/UsersController.php
  packages/backend/app/Http/Middleware/EncryptCookies.php
  packages/backend/app/Http/Middleware/PreventRequestsDuringMaintenance.php
  packages/backend/app/Http/Middleware/SessionAuthMiddleware.php
  packages/backend/app/Http/Middleware/VerifyCsrfToken.php
  packages/backend/app/Http/Requests/ApiRequest.php
  packages/backend/app/Models/Message.php
  packages/backend/app/Models/User.php
  packages/backend/app/OpenApi/Parameters/ListMessagesParameters.php
  packages/backend/app/Providers/AppServiceProvider.php
  packages/backend/app/Providers/AuthServiceProvider.php
  packages/backend/app/Providers/EventServiceProvider.php
  packages/backend/app/Providers/RouteServiceProvider.php
  packages/backend/config/insights.php
Labels: Backend

Change expose port
  packages/backend/docker-compose.yml
Labels: Backend

Update - terraform providers lock -platform=darwin_arm64
  packages/infra/ec2/.terraform.lock.hcl
Labels: Infra

Revert "Update dependency phpunit/phpunit to v10"
  packages/backend/composer.json
  packages/backend/composer.lock
Labels: Backend

remove null
  packages/frontend/src/pages/PasswordUpdate/hooks.ts
  packages/frontend/src/pages/SignUp/hooks.ts
Labels: Frontend

Update - dependencies update - linter auto fix
  packages/backend/app/Console/Kernel.php
  packages/backend/app/Http/Controllers/FavoriteController.php
  packages/backend/app/Http/Controllers/LoginController.php
  packages/backend/app/Http/Controllers/LogoutController.php
  packages/backend/app/Http/Controllers/MessagesController.php
  packages/backend/app/Http/Controllers/UsersController.php
  packages/backend/app/Http/Middleware/SessionAuthMiddleware.php
  packages/backend/app/Http/Requests/ApiRequest.php
  packages/backend/app/Models/Favorite.php
  packages/backend/app/Models/Message.php
  packages/backend/app/Models/User.php
  packages/backend/app/OpenApi/RequestBodies/LoginRequestBody.php
  packages/backend/app/OpenApi/RequestBodies/MessageCreateRequestBody.php
  packages/backend/app/OpenApi/RequestBodies/SignupRequestBody.php
  packages/backend/app/OpenApi/RequestBodies/UpdateUserPasswordRequestBody.php
  packages/backend/app/OpenApi/RequestBodies/UpdateUserRequestBody.php
  packages/backend/app/OpenApi/Responses/MessageListResponse.php
  packages/backend/app/OpenApi/Schemas/UserResponseSchema.php
  packages/backend/app/Providers/RouteServiceProvider.php
  packages/backend/composer.json
  packages/backend/composer.lock
  packages/backend/database/migrations/2023_01_16_013845_create_users_table.php
  packages/backend/database/migrations/2023_01_16_014101_create_messages_table.php
  packages/backend/database/migrations/2023_01_16_014115_create_favorites_table.php
  packages/backend/tests/Feature/Http/Controllers/AddFavoriteFavoritesControllerTest.php
  packages/backend/tests/Feature/Http/Controllers/CreateMessageMessagesControllerTest.php
  packages/backend/tests/Feature/Http/Controllers/FindUserUsersControllerTest.php
  packages/backend/tests/Feature/Http/Controllers/ListMessageMessagesControllerTest.php
  packages/backend/tests/Feature/Http/Controllers/LoginControllerTest.php
  packages/backend/tests/Feature/Http/Controllers/LogoutControllerTest.php
  packages/backend/tests/Feature/Http/Controllers/PasswordUpdateUsersControllerTest.php
  packages/backend/tests/Feature/Http/Controllers/SignUpUsersControllerTest.php
  packages/backend/tests/Feature/Http/Controllers/UpdateInfoUsersControllerTest.php
  packages/backend/tests/Unit/Requests/LoginRequestTest.php
  packages/backend/tests/Unit/Requests/MessageCreateRequestTest.php
  packages/backend/tests/Unit/Requests/MessageListRequestTest.php
  packages/backend/tests/Unit/Requests/PasswordUpdateRequestTest.php
  packages/backend/tests/Unit/Requests/SignupRequestTest.php
  packages/backend/tests/Unit/Requests/UpdateUserInfoRequestTest.php
Labels: Backend

Auto Update
  documents/api/schema.json
Labels: none

Fix .terraform.lock.hcl
  packages/infra/ec2/.terraform.lock.hcl
Labels: Infra

Update CI上でdocker layer cacheが効くように
  .github/workflows/test_backend.yml
Labels: none

Update template
  .github/pull_request_template.md
Labels: none

PHPバージョン落としたのでそれに追従させる形に
  packages/backend/composer.json
  packages/backend/composer.lock
Labels: Backend

Update backendインフラ変更 php-fpmベースに
  Makefile
  packages/backend/docker-compose.yml
  packages/backend/infra/nginx/Dockerfile
  packages/backend/infra/nginx/settings/default.conf
  packages/backend/infra/php/Dockerfile
  packages/backend/infra/php/settings/php.ini
  packages/backend/infra/php/settings/xdebug.ini
  packages/backend/infra/php/settings/zz-docker.conf
Labels: Backend

Update mysqlコンテナのバージョンをより詳細に指定
  packages/backend/docker-compose.yml
Labels: Backend

Lintにもレイヤーキャッシュが有効になるように
  .github/workflows/test_backend.yml
Labels: none

Update TODO追記
  .github/workflows/test_backend.yml
Labels: none

Fix フロントエンドのセットアップまでしているのをやめた
  .github/workflows/test_backend.yml
Labels: none

Fix xdebugのバージョン固定やめた
  packages/backend/infra/php/Dockerfile
Labels: Backend

キャッシュ効いていないので一時的にCO
  .github/workflows/test_backend.yml
Labels: none

Add default user info
  packages/frontend/src/pages/Login/index.tsx
Labels: Frontend

Add images scan
  .github/scripts/all-images-scan.sh
  .github/workflows/image-scan.yml
  Makefile
Labels: none

Fix sail使えるように
  Makefile
Labels: none

Fix
  .github/workflows/infra-plan.yml
Labels: none

発火条件の変更
  .github/workflows/image-scan.yml
Labels: none

utilコンテナ追加
  .github/workflows/image-scan.yml
  Makefile
Labels: none

Utilsコンテナ除去
  .github/workflows/image-scan.yml
  Makefile
Labels: none

Update image-scan.yml
  .github/workflows/image-scan.yml
Labels: none

コンテナスキャンの順番を逆にした
  .github/workflows/image-scan.yml
Labels: none

Update
  packages/hew-slide/.gitignore
  packages/hew-slide/README.md
  packages/hew-slide/components/Counter.vue
  packages/hew-slide/global-bottom.vue
  packages/hew-slide/package.json
  packages/hew-slide/setup/mermaid.ts
  packages/hew-slide/slides-export.pdf
  packages/hew-slide/slides.md
  packages/hew-slide/yarn.lock
Labels: none

Create README.md
  README.md
Labels: none

.github/labeler.yml:

Frontend: "packages/frontend/**/*"
Backend: "packages/backend/**/*"
Infra: "packages/infra/**/*"
