Repository na2na-p/sns-app, changes with the labels that .github/labeler.yml gives for each.
All labels: Frontend, Backend, Infra

Add .tflint.hcl
  packages/infra/.tflint.hcl
Labels: Infra

Add .gitignore
  packages/infra/.gitignore
Labels: Infra

Add EC2
  Makefile
  packages/infra/.gitignore
  packages/infra/ec2/.credencials/.gitignore
  packages/infra/ec2/.credencials/readme.md
  packages/infra/ec2/.terraform.lock.hcl
  packages/infra/ec2/ec2.tf
  packages/infra/ec2/main.tf
  packages/infra/ec2/setup_base.sh
  packages/infra/ec2/vpc.tf
Labels: Infra

init
  packages/infra/ec2/.terraform.lock.hcl
  packages/infra/ec2/provider.tf
Labels: Infra

role attach
  packages/infra/ec2/ec2.tf
  packages/infra/ec2/iam.tf
  packages/infra/ec2/main.tf
Labels: Infra

Update base script
  packages/infra/ec2/setup_base.sh
Labels: Infra

Remove ssh inbound rule
  packages/infra/ec2/vpc.tf
Labels: Infra

Remove public ip
  packages/infra/ec2/ec2.tf
Labels: Infra

Update base script
  packages/infra/ec2/setup_base.sh
Labels: Infra

Update policy arn
  packages/infra/ec2/iam.tf
Labels: Infra

Remove Key pair
  packages/infra/ec2/.credencials/readme.md
  packages/infra/ec2/ec2.tf
Labels: Infra

Update setup_base
  packages/infra/ec2/setup_base.sh
Labels: Infra

Add Backend CD
  .github/scripts/check_command_result.sh
  .github/workflows/backend-cd.yml
Labels: none

Fix secrets
  .github/workflows/backend-cd.yml
Labels: none

Fix
  .github/scripts/check_command_result.sh
Labels: none

Add terraform plan
  .github/workflows/infra-plan.yml
Labels: none

Update tf version
  .github/workflows/infra-plan.yml
Labels: none

Update plan
  .github/workflows/infra-plan.yml
  packages/infra/ec2/terraform.tfvars.example
Labels: Infra

Update 発火条件変更
  .github/workflows/infra-plan.yml
Labels: none

Add 必要ファイルのダミー追加
  .github/workflows/infra-plan.yml
Labels: none

Add aws credentials
  .github/workflows/infra-plan.yml
Labels: none

コメント量産してうっとおしいので消した
  .github/workflows/test_backend.yml
Labels: none

tfstateをS3に配置するように
  packages/infra/ec2/main.tf
Labels: Infra

排他制御
  packages/infra/ec2/main.tf
Labels: Infra

Fix example
  packages/infra/ec2/terraform.tfvars.example
Labels: Infra

Update workflows
  .github/workflows/infra-plan.yml
  Makefile
Labels: none

Add condition
  .github/workflows/infra-plan.yml
Labels: none

Fix typo
  Makefile
  packages/infra/ec2/.credentials/.gitignore
  packages/infra/ec2/.credentials/readme.md
Labels: Infra

update actions
  .github/workflows/infra-plan.yml
Labels: none

initスクリプトをplanの検知対象外に
  .github/workflows/infra-plan.yml
  Makefile
  packages/infra/ec2/ec2.tf
Labels: Infra

Remove unused deps
  packages/infra/ec2/main.tf
Labels: Infra

update aws provider
  packages/infra/ec2/.terraform.lock.hcl
  packages/infra/ec2/main.tf
Labels: Infra

follow aws provider v4
  packages/infra/ec2/ec2.tf
  packages/infra/ec2/provider.tf
Labels: Infra

Add tfcmt.yml
  tfcmt.yml
Labels: none

Update tfcmt.yml
  tfcmt.yml
Labels: none

restore label settings
  tfcmt.yml
Labels: none

Add auth controllers test - Login - Logout
  packages/backend/tests/Feature/Http/Controllers/LoginControllerTest.php
  packages/backend/tests/Feature/Http/Controllers/LogoutControllerTest.php
Labels: Backend

Add test case -  ログイン済みの際にもう一度ログインリクエスト発行
  packages/backend/tests/Feature/Http/Controllers/LoginControllerTest.php
Labels: Backend

Fake やめた
  packages/backend/database/factories/UserFactory.php
Labels: Backend

Add Requests Test
  packages/backend/tests/Unit/Requests/LoginRequestTest.php
Labels: Backend

.github/labeler.yml:

Frontend: "packages/frontend/**/*"
Backend: "packages/backend/**/*"
Infra: "packages/infra/**/*"
