Repository na2na-p/sns-app, changes with the labels that .github/labeler.yml gives for each.
All labels: Frontend, Backend

Add rules
  packages/frontend/.eslintrc.cjs
Labels: Frontend

Add useClientRect
  packages/frontend/src/hooks/useClientRect.ts
Labels: Frontend

remove .gitkeep
  packages/frontend/src/hooks/.gitkeep
Labels: Frontend

Fix fetch
  packages/frontend/src/hooks/usePing.ts
  packages/frontend/src/utils/getSchemeAndHost.ts
Labels: Frontend

文言修正
  documents/ui/figma/EditUserInfo.svg
  documents/ui/figma/UpdatePassword.svg
Labels: none

Fix typo
  Makefile
Labels: none

Fix ENDPOINTS_BASE
  packages/frontend/src/constants/ENDPOINTS_BASE.ts
  packages/frontend/src/mocks/handlers.ts
Labels: Frontend

Add docs
  documents/api/README.md
Labels: none

Update 要件追記
  documents/application_desigin.md
Labels: none

Add redis
  packages/backend/docker-compose.yml
Labels: Backend

Fix makefile
  Makefile
Labels: none

Add ping route
  packages/backend/app/Http/Controllers/PingController.php
  packages/backend/routes/api.php
Labels: Backend

Add route check
  Makefile
Labels: none

Update makefile
  Makefile
Labels: none

Add predis
  packages/backend/composer.json
  packages/backend/composer.lock
Labels: Backend

Add redis facade alias
  packages/backend/config/app.php
Labels: Backend

Update .env.example
  packages/backend/.env.example
Labels: Backend

Add note
  documents/note/index.md
Labels: none

おまじない？
  packages/backend/config/app.php
  packages/backend/config/database.php
Labels: Backend

Fix
  packages/backend/.env.example
Labels: Backend

Update documents/note/index.md
  documents/note/index.md
Labels: none

Remove unused use
  packages/backend/config/app.php
  packages/backend/config/database.php
Labels: Backend

Add range.ts
  packages/frontend/src/utils/range.ts
Labels: Frontend

Update mocks
  packages/frontend/src/mocks/db.ts
  packages/frontend/src/mocks/handlers.ts
  packages/frontend/src/mocks/parts/favorites.ts
  packages/frontend/src/mocks/parts/messages.ts
  packages/frontend/src/mocks/parts/users.ts
  packages/frontend/src/types/api/index.ts
Labels: Frontend

Add dependencies
  packages/backend/composer.json
  packages/backend/composer.lock
Labels: Backend

Update Makefile
  Makefile
Labels: none

Update .gitignore
  packages/backend/.gitignore
Labels: Backend

Update note
  documents/note/index.md
Labels: none

Add models init
  packages/backend/app/Models/Favorites.php
  packages/backend/app/Models/Messages.php
  packages/backend/app/Models/Users.php
  packages/backend/database/migrations/2023_01_16_013845_create_users_table.php
  packages/backend/database/migrations/2023_01_16_014101_create_messages_table.php
  packages/backend/database/migrations/2023_01_16_014115_create_favorites_table.php
Labels: Backend

Delete unused migration files
  packages/backend/database/migrations/2014_10_12_000000_create_users_table.php
  packages/backend/database/migrations/2014_10_12_100000_create_password_resets_table.php
  packages/backend/database/migrations/2019_08_19_000000_create_failed_jobs_table.php
  packages/backend/database/migrations/2019_12_14_000001_create_personal_access_tokens_table.php
Labels: Backend

Fix schema
  utils/prisma/schema.prisma
Labels: none

Update users migration
  packages/backend/database/migrations/2023_01_16_013845_create_users_table.php
Labels: Backend

Remove unused
  packages/backend/app/Models/User.php
Labels: Backend

Change timezone
  packages/backend/config/app.php
Labels: Backend

Update Makefile
  Makefile
Labels: none

Lint fix
  packages/backend/app/Http/Controllers/PingController.php
  packages/backend/app/Models/Favorites.php
  packages/backend/app/Models/Messages.php
  packages/backend/app/Models/Users.php
  packages/backend/config/database.php
  packages/backend/database/migrations/2023_01_16_013845_create_users_table.php
  packages/backend/database/migrations/2023_01_16_014101_create_messages_table.php
  packages/backend/database/migrations/2023_01_16_014115_create_favorites_table.php
Labels: Backend

Update Makefile
  Makefile
Labels: none

Update Makefile
  Makefile
Labels: none

Update models
  packages/backend/app/Models/Favorites.php
  packages/backend/app/Models/Messages.php
  packages/backend/app/Models/Users.php
Labels: Backend

Fix timezone
  packages/backend/config/app.php
Labels: Backend

.github/labeler.yml:

Frontend: "packages/frontend/**/*"
Backend: "packages/backend/**/*"
